@using eLTMS.Models.Utils;
@using System.Globalization;
@{
    var appointment = ViewBag.Appointment;
}
@section styles {
    <link rel="stylesheet" href="~/Areas/UserWeb/Styles/Appointment/Appointment.css">
}

<!-- breadcroumb Area Start-->
<div class="breadvroumb_area">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h1>Lịch hẹn của bạn</h1>
            </div>
        </div>
    </div>
</div>
<!-- breadcroumb Area End-->
<!-- appoinment Page Start-->
<div class="appoinment_form_area current_appointment_area p100">
    <div class="container">
        <div class="step-box">
            <h2 class="first_h2">
                <b>Thời gian lấy mẫu xét nghiệm</b>
            </h2>
            @{
                var counter = 1;
                foreach (var sampleGetting in appointment.SampleGettings)
                {
                    <h3>@(counter). @(sampleGetting.Sample.SampleName):</h3>
                    <p>
                        - Ngày: <em>@(sampleGetting.GettingDate.ToString("dd-MM-yyyy"))</em>
                        <br />
                        @{
                            var startTime = DateTimeUtils.ConvertTimeSpanToShortHour(sampleGetting.StartTime);
                            var finishTime = DateTimeUtils.ConvertTimeSpanToShortHour(sampleGetting.FinishTime);
                        }
                        - Giờ: <em>@(startTime) - @(finishTime)</em>
                    </p>
                    counter++;
                }
            }

            <h2>
                <b>Phí xét nghiệm</b>
            </h2>
            <table>
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Loại xét nghiệm</th>
                        <th>Giá</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        counter = 1;
                        var totalPrice = 0;
                        foreach (var sampleGetting in appointment.SampleGettings)
                        {

                            <tr>
                                <td></td>
                                <td><b>@(sampleGetting.Sample.SampleName)</b></td>
                                <td></td>
                            </tr>
                            foreach (var labTesting in sampleGetting.LabTestings)
                            {
                                <tr>
                                    <td>@(counter)</td>
                                    <td>@(labTesting.LabTest.LabTestName)</td>
                                    @{
                                        string sPrice = labTesting.LabTest.Price.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"));
                                    }
                                    <td>@(sPrice)</td>
                                </tr>
                                totalPrice += labTesting.LabTest.Price;
                                counter++;
                            }
                        }
                    }
                    <tr>
                        <td></td>
                        <td><b>TỔNG CỘNG</b></td>
                        @{
                            string sTotalPrice = totalPrice.ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN"));
                        }
                        <td>@(sTotalPrice)</td>
                    </tr>
                </tbody>
            </table>
            <div class="button-box">
                <a href="/UserWeb/Appointment/Edit">
                    <button id="btn-next" type="button" class="custom_btn edit_btn">Chỉnh sửa</button>
                </a>
                <button id="btn-next" type="button" class="custom_btn cancel_btn">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- appoinment Page End-->
<!-- Modal -->
<div id="success-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center">Đặt lịch thành công!</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="fail-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="text text-center">
                    Đặt lịch chưa thành công!
                    Xin quý khách vui lòng thử lại.
                </h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đồng ý</button>
            </div>
        </div>

    </div>
</div>
<!-- Modal -->
<div id="processing-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div class="box-loader">
                    <img class="img-loader" src="~/Areas/UserWeb/Images/color-dots-loader.gif" />
                </div>
                <h3 class="text text-center">
                    Hệ thống đang xử lí.<br />
                    Xin quý khách vui lòng chờ trong giây lát...
                </h3>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Areas/UserWeb/Scripts/Appointment/Create.js"></script>
}